# Postgresql :-
greenlet==1.0.0
psycopg2-binary==2.8.6

# SQLAlchemy :-
SQLAlchemy==1.4.3

# Linting :- 
astroid==2.5.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pylint==2.7.2
toml==0.10.2
wrapt==1.12.1